//paginator alignment 
.container {
    position: relative;
}

// custom table style
::ng-deep .p-datatable-thead {
    background-color: #D5D5D5 !important;
}

::ng-deep .p-datatable-tbody>tr:last-child {
    border: none !important;
}

tr:last-child {
    border: none !important;
}

.order-table {
    border-radius: 12px;
}

.p-select {
    border: unset;
    background: #F9F9FB;
    box-shadow: none;
}

// filter bar style
.filter-card {
    border-radius: 12px;
    background: #F9F9FB;
    border: 1px solid #dee2e6 !important;
}

.filter-item {
    padding: 0.75rem 1rem;
    border-left: 1px solid #dee2e6;
}

.filter-item.no-border {
    border-left: none;
}

// custom paginator style
::ng-deep .mat-mdc-paginator {
    background-color: unset !important;
}

::ng-deep .mat-mdc-paginator-range-label {
    position: absolute;
    left: 0;
    text-align: left;
}

::ng-deep .mat-mdc-paginator-range-label::before {
    content: "Showing";
}

::ng-deep .mat-mdc-paginator-range-actions {
    border: 1px solid #D5D5D5;
    background-color: #FAFBFD;
    border-radius: 8px;
}

::ng-deep .mat-mdc-paginator-navigation-previous {
    border-radius: unset;
    border-right: 1px solid #D5D5D5;
}

::ng-deep .mat-mdc-paginator-range-label {
    margin: 0 32px 0 76px !important;
}

::ng-deep .bold-selector .p-select-label.p-placeholder,
::ng-deep .bold-selector .p-select-dropdown {
    color: #202224 !important;
    font-weight: bold !important;
}