

<mat-sidenav-container autosize>
    <mat-sidenav #sidenav class="sidenav" mode="side"
        [opened]="true"
        [ngClass]="isExpanded || isShowing ? 'full-width':'mid-width'"
        (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
        <div class="text-center p-4">
            <img src="assets/images/Logo.svg" />

        </div>
        <div class="nav flex-column nav-pills" id="v-pills-tab"
            role="tablist" aria-orientation="vertical">

            <!-- Dashboard -->
            <div class="d-flex align-items-stretch pe-4">
                <div
                    [ngClass]="activeTab === 'dashboard' ? 'border-line':'border-line-padding'"></div>
                <button class="nav-link  btn-sm flex-grow-1"
                    id="v-pills-dashboard-tab"
                    [ngClass]="{'active': activeTab === 'dashboard'}"
                    (click)="activeTab = 'dashboard'"
                    data-bs-toggle="pill" data-bs-target="#v-pills-dashboard"
                    type="button" role="tab" aria-controls="v-pills-dashboard"
                    [attr.aria-selected]="activeTab === 'dashboard'">

                    <div class="d-flex flex-row-reverse"
                        [ngClass]="isExpanded || isShowing ? 'justify-content-end':'justify-content-center'">
                        <span *ngIf="isExpanded || isShowing"
                            class="p-2">Dashboard</span>
                        <div class="p-2">
                            <img class="icon-selected"
                                src="/assets/icons/dashboard-icon.svg" />
                        </div>
                    </div>
                </button>
            </div>

            <!-- Order Lists -->
            <div class="d-flex align-items-stretch pe-4">
                <div
                    [ngClass]="activeTab === 'orders' ? 'border-line':'border-line-padding'"></div>
                <button class="nav-link flex-grow-1"
                    id="v-pills-orders-tab"
                    [ngClass]="{'active': activeTab === 'orders'}"
                    (click)="activeTab = 'orders'"
                    data-bs-toggle="pill" data-bs-target="#v-pills-orders"
                    type="button" role="tab" aria-controls="v-pills-orders"
                    [attr.aria-selected]="activeTab === 'orders'"
                    aria-selected="false">
                    <div class="d-flex flex-row-reverse"
                        [ngClass]="isExpanded || isShowing ? 'justify-content-end':'justify-content-center'">
                        <span *ngIf="isExpanded || isShowing"
                            class="p-2">Order Lists</span>
                        <div class="p-2">
                            <img class="icon-selected"
                                src="/assets/icons/orders_icon.svg" />
                        </div>
                    </div>
                </button>
            </div>
            <!-- Team Lists -->
            <div class="d-flex align-items-stretch pe-4">
                <div
                    [ngClass]="activeTab === 'teamTab' ? 'border-line':'border-line-padding'"></div>
                <button class="nav-link flex-grow-1"
                    id="v-pills-team-tab"
                    [ngClass]="{'active': activeTab === 'teamTab'}"
                    (click)="activeTab = 'teamTab'"
                    data-bs-toggle="pill" data-bs-target="#v-pills-team"
                    type="button" role="tab" aria-controls="v-pills-team"
                    [attr.aria-selected]="activeTab === 'teamTab'"
                    aria-selected="false">
                    <div class="d-flex flex-row-reverse"
                        [ngClass]="isExpanded || isShowing ? 'justify-content-end':'justify-content-center'">
                        <span *ngIf="isExpanded || isShowing"
                            class="p-2">Team</span>
                        <div class="p-2">
                            <img class="icon-selected"
                                src="/assets/icons/user-icon.svg" />
                        </div>
                    </div>
                </button>
            </div>
            <!-- Products Lists -->
            <div class="d-flex align-items-stretch pe-4">
                <div
                    [ngClass]="activeTab === 'productsTab' ? 'border-line':'border-line-padding'"></div>
                <button class="nav-link flex-grow-1"
                    id="v-pills-team-tab"
                    [ngClass]="{'active': activeTab === 'productsTab'}"
                    (click)="activeTab = 'productsTab'"
                    data-bs-toggle="pill" data-bs-target="#v-pills-products"
                    type="button" role="tab" aria-controls="v-pills-products"
                    [attr.aria-selected]="activeTab === 'productsTab'"
                    aria-selected="false">
                    <div class="d-flex flex-row-reverse"
                        [ngClass]="isExpanded || isShowing ? 'justify-content-end':'justify-content-center'">
                        <span *ngIf="isExpanded || isShowing"
                            class="p-2">Products</span>
                        <div class="p-2">
                            <img class="icon-selected"
                                src="/assets/icons/product-icon.svg" />
                        </div>
                    </div>
                </button>
            </div>
        </div>

    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary" class="toolbar">
            <mat-toolbar color="primary" class="toolbar">
                <button mat-icon-button
                    (click)="toggleSidebar()"><mat-icon>menu</mat-icon></button>

                <p-iconfield class="search-input-wrapper">
                    <p-inputicon class="pi pi-search" />
                    <input class="search-input" type="text" pInputText
                        placeholder="Search"
                        [(ngModel)]="searchValue"
                        (ngModelChange)="onSearchChange($event)" />
                </p-iconfield>
            </mat-toolbar>
        </mat-toolbar>

        <div class="tab-content" id="v-pills-tabContent">
            <!-- Dashboard content-->
            <div class="tab-pane fade show active" id="v-pills-dashboard"
                role="tabpanel" aria-labelledby="v-pills-dashboard-tab">
                <app-dashboard [searchTerm]="searchValue"></app-dashboard>
            </div>
            <!-- Order list content-->
            <div class="tab-pane fade" id="v-pills-orders" role="tabpanel"
                aria-labelledby="v-pills-orders-tab">

                <app-order-lists [searchTerm]="searchValue"></app-order-lists>

            </div>
            <!-- Team list content-->
            <div class="tab-pane fade" id="v-pills-team" role="tabpanel"
                aria-labelledby="v-pills-team-tab">

                <app-team-lists [searchTerm]="searchValue"></app-team-lists>
            </div>
            <!-- Products content-->
            <div class="tab-pane fade" id="v-pills-products" role="tabpanel"
                aria-labelledby="v-pills-products-tab">
                <app-products [searchTerm]="searchValue"></app-products>
            </div>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>
