button.primary-btn {
    background-color: var(--primary-color) !important;
    color: white !important;
}

.primary-color {
    color: var(--primary-color) !important;
}

.centered-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}