<div class="container">
    <div class="px-5 p-5 pb-0">
        <div class="row">
            <div class="col-10">
                <h3>
                    Products
                </h3>
            </div>

        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 p-3"
        *ngIf="pagedProducts.length > 0; else noResults">
        <div class="col col-md-4 col-lg-3"
            *ngFor="let item of pagedProducts">
            <div class="card">
                <div
                    class="d-flex justify-content-center align-items-center p-3">
                    <p-galleria
                        [value]="item.images"
                        [numVisible]="5"
                        [circular]="true"
                        [showItemNavigators]="true"
                        [showThumbnails]="false"
                        [responsiveOptions]="responsiveOptions"
                        [containerStyle]="{ 'max-width': '300px' }">
                        <ng-template let-images pTemplate="item">
                            <img [src]="images" [alt]="item.title"
                                style="width: 100%; display: block;" />
                        </ng-template>
                    </p-galleria>
                </div>

                <div class="card-body px-5">
                    <h6 class="card-title">{{item.title}}</h6>
                    <small class="text-gray">{{item.creationAt |
                        date}}</small>
                </div>
                <div class="d-flex justify-content-end p-2">

                    <button class="view-more-button  btn-lg btn-add"
                        type="btn"
                        (click)="getproductsById(item.id)">
                        View More
                    </button>
                    <!-- 
                    <button (click)="getproductsById(item.id)">View
                        more</button> -->
                </div>
            </div>
        </div>

    </div>
    <ng-template #noResults>
        <div class="text-center text-muted p-5">
            No products found.
        </div>
    </ng-template>
    <div
        class="d-flex justify-content-end align-items-center paginator-container mt-3 px-5">
        <mat-paginator #paginator
            class="demo-paginator"
            (page)="handlePageEvent($event)"
            [length]="length"
            [pageSize]="pageSize"
            [disabled]="disabled"
            [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
            [hidePageSize]="hidePageSize"
            [pageIndex]="pageIndex"
            aria-label="Select page">
        </mat-paginator>
    </div>
</div>

<div class="card flex justify-center">
    <p-dialog header="Product Details" [(visible)]="visible"
        [style]="{ width: '50rem' }" *ngIf="productsDetails">
        <div class="row">
            <div class="col-12 text-gray p-2">
                Product Name:
            </div>
            <div class="col-12 p-2">
                {{productsDetails.title}}
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-gray p-2">
                Product Description:
            </div>
            <div class="col-12 p-2">
                {{productsDetails.description}}
            </div>

        </div>
        <div class="row">
            <div class="col-1 text-gray p-2">
                Price:
            </div>
            <div class="primary-color col-5 p-2">
                {{ '$' +productsDetails.price }}
            </div>

        </div>
    </p-dialog>
</div>
