// custome style of gallery
.p-galleria-nav-button {
    border-radius: 50%;
}

.view-more-button {
    background: unset;
    color: #797A7C;
    border: unset;
}

.view-more-button:hover {
    color: var(--secondary-color);
}