
<div>

    <mat-sidenav-container class="example-container" autosize>
        <mat-sidenav #sidenav class="example-sidenav" mode="side"
            [opened]="true"
            [ngClass]="isExpanded || isShowing ? 'full-width':'mid-width'"
            (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
            <div class="text-center p-4">
                <img src="assets/images/Logo.svg" />

            </div>
            <div class="nav flex-column nav-pills" id="v-pills-tab"
                role="tablist" aria-orientation="vertical">

                <!-- Dashboard -->
                <div class="d-flex align-items-stretch pe-4">
                    <div
                        [ngClass]="activeTab === 'home' ? 'border-line':'border-line-padding'"></div>
                    <button class="nav-link  primary-btn btn-sm flex-grow-1"
                        id="v-pills-home-tab"
                        [ngClass]="{'active': activeTab === 'home'}"
                        (click)="activeTab = 'home'"
                        data-bs-toggle="pill" data-bs-target="#v-pills-home"
                        type="button" role="tab" aria-controls="v-pills-home"
                        [attr.aria-selected]="activeTab === 'home'">

                        <div class="d-flex flex-row-reverse"
                            [ngClass]="isExpanded || isShowing ? 'justify-content-end':'justify-content-center'">
                            <span *ngIf="isExpanded || isShowing"
                                class="p-2">Dashboard</span>
                            <div class="p-2">
                                <img class="icon-selected"
                                    src="/assets/icons/dashboard-icon.svg" />
                            </div>
                        </div>
                    </button>
                </div>

                <!-- Order Lists -->
                <div class="d-flex align-items-stretch pe-4">
                    <div
                        [ngClass]="activeTab === 'profile' ? 'border-line':'border-line-padding'"></div>
                    <button class="nav-link flex-grow-1"
                        id="v-pills-profile-tab"
                        [ngClass]="{'active': activeTab === 'profile'}"
                        (click)="activeTab = 'profile'"
                        data-bs-toggle="pill" data-bs-target="#v-pills-profile"
                        type="button" role="tab" aria-controls="v-pills-profile"
                        [attr.aria-selected]="activeTab === 'profile'"
                        aria-selected="false">
                        <div class="d-flex flex-row-reverse"
                            [ngClass]="isExpanded || isShowing ? 'justify-content-end':'justify-content-center'">
                            <span *ngIf="isExpanded || isShowing"
                                class="p-2">Order Lists</span>
                            <div class="p-2">
                                <img class="icon-selected"
                                    src="/assets/icons/orders_icon.svg" />
                            </div>
                        </div>
                    </button>
                </div>
                <!-- Team Lists -->
                <div class="d-flex align-items-stretch pe-4">
                    <div
                        [ngClass]="activeTab === 'teamTab' ? 'border-line':'border-line-padding'"></div>
                    <button class="nav-link flex-grow-1"
                        id="v-pills-team-tab"
                        [ngClass]="{'active': activeTab === 'teamTab'}"
                        (click)="activeTab = 'teamTab'"
                        data-bs-toggle="pill" data-bs-target="#v-pills-team"
                        type="button" role="tab" aria-controls="v-pills-team"
                        [attr.aria-selected]="activeTab === 'teamTab'"
                        aria-selected="false">
                        <div class="d-flex flex-row-reverse"
                            [ngClass]="isExpanded || isShowing ? 'justify-content-end':'justify-content-center'">
                            <span *ngIf="isExpanded || isShowing"
                                class="p-2">Team</span>
                            <div class="p-2">
                                <img class="icon-selected"
                                    src="/assets/icons/user-icon.svg" />
                            </div>
                        </div>
                    </button>
                </div>

            </div>

        </mat-sidenav>

        <div class="example-sidenav-content flex-column">
            <mat-toolbar color="primary" class="example-toolbar">
                <button mat-icon-button
                    (click)="toggleSidebar()"><mat-icon>menu</mat-icon></button>
                <p-iconfield class="search-input-wrapper">
                    <p-inputicon class="pi pi-search" />
                    <input class="search-input" type="text" pInputText
                        placeholder="Search" />
                </p-iconfield>
            </mat-toolbar>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home"
                    role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <h3 class="px-5 pt-5">
                        Dashboard
                    </h3>

                    <div class="row row-cols-1 row-cols-md-4 g-4 p-5">
                        <div class="col col-md-4 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row flex-column">
                                                <div class="col">
                                                    <h5 class="text-gray"> Total
                                                        Users</h5>
                                                </div>
                                                <div class="col">
                                                    <h3> 40,689</h3>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-3">
                                            <img width="50%"
                                                src="/assets/icons/users-icon.svg"
                                                class="card-img-top"
                                                alt="...">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-2">
                                                    <img width="50%"
                                                        src="/assets/icons/ic-trending-up-24px.svg"
                                                        class="card-img-top"
                                                        alt="...">
                                                </div>
                                                <div class="col-3">
                                                    <span
                                                        style="color: #00B69B;">
                                                        8.5%
                                                    </span>

                                                </div>

                                                <div class="col-7">
                                                    <h6
                                                        class="text-gray">
                                                        Up from
                                                        yesterday</h6>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col col-md-4 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row flex-column">
                                                <div class="col">
                                                    <h5 class="text-gray">
                                                        Total Order</h5>
                                                </div>
                                                <div class="col">
                                                    <h3> 40,689</h3>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-3">
                                            <img width="50%"
                                                src="/assets/icons/order-icon.svg"
                                                class="card-img-top"
                                                alt="...">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-2">
                                                    <img width="50%"
                                                        src="/assets/icons/ic-trending-up-24px.svg"
                                                        class="card-img-top"
                                                        alt="...">
                                                </div>
                                                <div class="col-3">
                                                    <span
                                                        style="color: #00B69B;">
                                                        8.5%
                                                    </span>

                                                </div>

                                                <div class="col-7">
                                                    <h6
                                                        class="text-gray">
                                                        Up from
                                                        yesterday</h6>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col col-md-4 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row flex-column">
                                                <div class="col">
                                                    <h5 class="text-gray"> Total
                                                        Sales</h5>
                                                </div>
                                                <div class="col">
                                                    <h3> 40,689</h3>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-3">
                                            <img width="50%"
                                                src="/assets/icons/sales-icon.svg"
                                                class="card-img-top"
                                                alt="...">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-2">
                                                    <img width="50%"
                                                        src="/assets/icons/ic-trending-up-24px.svg"
                                                        class="card-img-top"
                                                        alt="...">
                                                </div>
                                                <div class="col-3">
                                                    <span
                                                        style="color: #00B69B;">
                                                        8.5%
                                                    </span>

                                                </div>

                                                <div class="col-7">
                                                    <h6
                                                        class="text-gray">
                                                        Up from
                                                        yesterday</h6>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col col-md-4 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row flex-column">
                                                <div class="col">
                                                    <h5 class="text-gray"> Total
                                                        Pending
                                                    </h5>
                                                </div>
                                                <div class="col">
                                                    <h3> 40,689</h3>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-3">
                                            <img width="50%"
                                                src="/assets/icons/pending-icon.svg"
                                                class="card-img-top"
                                                alt="...">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-2">
                                                    <img width="50%"
                                                        src="/assets/icons/ic-trending-up-24px.svg"
                                                        class="card-img-top"
                                                        alt="...">
                                                </div>
                                                <div class="col-3">
                                                    <span
                                                        style="color: #00B69B;">
                                                        8.5%
                                                    </span>

                                                </div>

                                                <div class="col-7">
                                                    <h6
                                                        class="text-gray">
                                                        Up from
                                                        yesterday</h6>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-5">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Sales Details</h5>

                                    This is some text within a card body.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                    aria-labelledby="v-pills-profile-tab">
                    <h3 class="px-5 pt-5">
                        Order Lists
                    </h3>
                    <app-order-lists></app-order-lists>

                </div>
                <div class="tab-pane fade" id="v-pills-team" role="tabpanel"
                    aria-labelledby="v-pills-team-tab">
                    <h3 class="px-5 pt-5">
                        Team
                    </h3>

                    <app-team-lists></app-team-lists>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                    aria-labelledby="v-pills-settings-tab">...</div>
            </div>
        </div>

    </mat-sidenav-container>
